.m-menu-v2 {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 52px;
}

.m-menu-v2 .menuslide {
  margin-top: 10px;
}

.m-menu-v2 .menuslide .cell-item {
  padding-right: 0;
}

.m-menu-v2 .menuslide .cell-item img {
  overflow: hidden;
  width: 100%;
  border: 1px solid #d1d1d1;
}

.m-menu-v2 .artcl-card {
  border-radius: 5px;
  background: #d8d8d8;
  padding: 10px;
}

.m-menu2-link {
  position: relative;
  z-index: 0;
}

.m-menu2-link:hover {
  opacity: .7;
}

.m-menu2-link a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.m-menu2-link a:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 7px;
  background: url(../img/m-menu2/arrow.png) no-repeat center center;
}

.mfp-bg.mfp-fade.mfp-ready,
.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-fade.mfp-ready {
  z-index: 3247483640;
}

.trunk-active {
  overflow: hidden;
}

.trunk-active .mfp-bg {
  background: #000;
}

.m-profile {
  position: relative;
}

.m-profile:not(.noarrow):before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 20px;
  background: url(../img/m-menu2/arrow.png) no-repeat center center;
  transform: rotate(90deg);
}

.m-profile.expand:before {
  transform: rotate(-90deg);
}

.settingan {
  display: none;
}

.mm2-social a {
  display: inline-block;
  margin: 0 10px;
}

.mm2-social a img {
  max-width: 20px;
}
/*# sourceMappingURL=menuv2.css.map */