// out: ../css/app.css, compress: true, sourceMap: true, autoprefixer: last 5 versions, groupmedia: true;
$primary: #ffc107;
html {
    //padding-top: 44px;
    --primary: $primary!important;
}

img {
    max-width: 100%;
}

a {
    color: $primary;
    &:hover {
        color: darken($primary, 20%)
    }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 14px!important;
  }
}

.btn-facebook {
    background: #3b5998;
    color:#fff;
    font-size: 16px;
    padding: 15px 20px 15px 40px;
    position:relative;
    &:hover {
        color: #fff;
    }
    i.fa {
        position:absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        font-size: 20px;
        height: 20px;
    }
}

.hide {
    display: none;
}

/* font-size by number */
@for $i from 5 through 90 {
    .text-#{$i},
    *.text-#{$i} {
        font-size: #{$i}px!important;
    }
}

@media screen and (max-width: 766px) {
    @for $i from 5 through 70 {
        .text-xs-#{$i},
        *.text-xs-#{$i} {
            font-size: #{$i}px!important;
        }
    }
}

.kr-header {
    background: #fff;
    box-shadow: 0 3px 20px rgba(0,0,0,.05);
    position:fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: 100;
    padding: 5px 0;
    border-top: 2px solid var(--primary);
}

@media screen and (max-width: 767px) {
    .kr-header {
        padding: 15px 0;
        .btn {
          position:relative;
          top: -10px;
        }
    }
}

.kr-logo-wrapper {
    overflow:hidden;
    max-width: 100%;
    img {
        height: auto;
        display:block;
        max-width: 100%;
        @media screen and (max-width: 767px) {
          width: 70px;
        }
    }
}

.kr-card {
    border: 1px solid #ddd;
    margin: 30px 0;
    box-shadow: 0 3px 30px rgba(0,0,0,0.04);
    overflow: hidden;
    border-radius: 5px;;
    background: #fff;

    .kr-card-header {
        padding: 10px 30px;
        border-bottom: 2px solid #ddd;
    }

    .kr-card-body {
        padding: 30px;
    }
}

.kr-content {
    border: 1px solid #000;
    border-radius: 5px;
    overflow:hidden;

    .kr-content-header {
        padding: 10px 20px;
        border-bottom: 1px solid #000;
    }

    .kr-content-body {
        padding: 20px;
    }

    .kr-content-footer {
        button, .btn {
            border-radius:0;
            padding: 15px 20px;
        }
    }

    .flickity-page-dots {
      bottom: -20px;
    }
}

.btn-group {
  display:flex;
  overflow:hidden;
  .btn {
    width: calc(100% / 3);
    float:left;
  }
}

.kelas .nav-justified>li, .kelas .nav-tabs.nav-justified>li {
  width: 50%!important;
}

.main-container {
    width: 100%;
    
}

.pop-wrapper {
    display:none;
}